.nav-item:hover{
    cursor:pointer;
    color:var(--text);
}
.nav-item{
    padding:3px;
    color:var(--text);
}

.active{
    color:var(--highlight);
}

.navigation-bar{
    width: 80%;
    padding: 7px 15px;
    background: var(--background);
    position:fixed;
    bottom:0;
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: space-evenly !important;
}