
.profile-container {
    background: var(--profilebackground);
    flex-direction: row-reverse;
    flex-wrap:wrap;
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 5%;
}

.profile-pic-frame {
    width: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--text);
    text-align: center;
    height:0;
    padding-bottom: 60%;
}

.profile-pic {
    display: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: auto;
}

.profile-info {
    font-family: 'Arial', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.resume-download{
    font-family: Georgia, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    background: var(--icon);
    color: var(--text);
    border: 2.5px solid var(--text);
    margin-bottom: 20px;
    border-radius: 10px;
    width:30%;
}

.profile-social {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-social-icon {
    margin: 3px;
}

.update-time {
    background: var(--profilebackground);
}

blockquote p {
    font-size: 1rem;
}
blockquote footer {
    font-size: 0.5rem;
}