.footer{
    height: 200px;
    flex-wrap: wrap;
    background: var(--text);
    overflow: hidden;
}

.footer-content {
    height: 100%;
}

@keyframes color-change {
    0% {
        color: #69b7eb;
    }
    25% {
        color: #b3dbd3;
    }
    50% {
        color: #ecf1cf;
    }
    75% {
        color: #f5c4d6;
    }
    100% {
        color: #fdf9f7;
    }
}

.quote {
    font-family: simplifica, Georgia, 'Times New Roman', Times, serif;
    font-weight:700;
    color: var(--background);
    font-size: 1.4rem;
    animation: color-change 5s linear infinite alternate;
}

@keyframes pivot {
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

.quote-icon {
    animation: pivot 5s infinite alternate;
    color: var(--background) !important;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .quote {font-size:1.5rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .quote {font-size:1.6rem;} /*1rem = 16px*/
}
  