
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #add8e9;
    color:rgb(40, 41, 38);
}

.timeline-header{
    color: var(--text);
}

.profile-header{
    color: var(--background);
    font-family: simplifica;
}

.profile-desc{
    color: var(--background);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.profile-desc-trans-enter {
    opacity: 0.01;
}

.profile-desc-trans-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

