.icon-box{
    border: 2px solid var(--muted);
    background: var(--background);
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 3px;
}

.icon-text {
    align-self: center !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .icon-text {font-size:0.75rem;} /*1rem = 16px*/
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .icon-text {font-size:0.85rem;} /*1rem = 16px*/
}
  
