.test {
    background: green;
}

.project-section{
    background: #d8eff0;
    padding-bottom: 70px;
}
.project-container {
    width: 80%;
}

.project-modal-title{
    font-family:simplifica;
}

.project-modal-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.project-card-img {
    height: 40%;
    /* overflow: hidden; */
    /* object-fit: cover; */
}

.project-card{
    height: 300px; /*400px;*/
    border-radius: 35px;
    overflow: hidden;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .project-card{
        height: 400px;
        font-size:small;
    }
    .project-card-img {
        margin-top: 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .project-card{
        height: 350px;
    }
    .project-card-img {
        margin-top: 10px;
    }
}
  