.theme-background {
    background: var(--background);
}

.timeline-header {
    color: var(--header);
}

.timeline-desc {
    cursor: pointer;
}

.desc-button {
    background: var(--block);
    color: var(--text);
    border-style: none;

    transition: opacity 0.5s;
    opacity: 1;
}
.desc_button.hide {
    opacity: 0;
    pointer-events: none;
}

.desc-button:hover{
    background-color: #fff;
    color: var(--text);
    text-decoration: none;
    border-style: none;
    outline: none;
    border: 0;
}
.desc-button:hover, .desc-button:focus, .desc-button:active{
    background-color: #fff !important;
    color: var(--text);
    outline: none !important;
    box-shadow: none !important;
}

.desc-enter {
    opacity: 0.01;
    transform: translate(0, -50px);
}
  
.desc-enter-active {
    opacity: 1;
    transform: translate(0,0);
    transition: all 300ms;
}
  
.desc-exit {
    opacity: 1;
    transform: translate(0,0);
}
  
.desc-exit-active {
    opacity: 0.01;
    transform: translate(0, -20px);
    transition: all 50ms;
}

.vertical-timeline--one-column-left .vertical-timeline-element-icon img {
    width: 40px;
    height: 40px;
}
  
@media only screen and (min-width: 1170px) {
    .vertical-timeline--one-column-left .vertical-timeline-element-icon img {
        width: 40px;
        height: 40px;
    }
}

/* The line */
.vertical-timeline::before {
    background: var(--muted);
}
  
/* Icon container's border */
.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px var(--muted), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}