.theme-background {
    background: var(--background);
}

.timeline-header {
    color: var(--header);
}

.timeline-desc {
    cursor: pointer;
}

.desc-button {
    background: var(--block);
    color: var(--text);
    border-style: none;
}