:root {
  --background: #F3F3F3;
  --block: #FFFFFF;
  --highlight: #DE353C;
  --header: #3c1874;
  --muted: #932432;
  --text: #283747;
  --icon: #afe3f8;
  --profilebackground: #ecf1cf;
  --workbackground: #fdf9f7;
}

@font-face {
  font-family: 'simplifica';
  src: url('./fonts/simplifica/simplifica_typeface-webfont.woff2') format('woff2'),
       url('./fonts/simplifica/simplifica_typeface-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.divider{
  border-top: 4px solid var(--muted);
}

.flex {
  display:flex;
}

.flex-stretch {
  flex-grow: 1;
}

.flex-justify-evenly {
  justify-content: space-evenly !important;
}

.flex-horizontal-center {
  justify-content: center !important;
}

.flex-vertical-center{
  align-items: center !important;
}

.section-header{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5% 0;
}

.modal-w80{
  min-width: 80% !important;
}

.modal-w90{
  min-width: 90% !important;
}

.modal-w100{
  min-width: 100% !important;
}


html {
  font-size: 0.7rem;
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  html {font-size:0.8rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  html {font-size:0.85rem;} /*1rem = 16px*/
}
